body{
    background-image: url(https://cdn.pixabay.com/photo/2024/01/13/00/46/raccoon-8504925_1280.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #E2D8C4;
}
.BigGrid{
    display: grid;
    grid-template-rows: 0.3fr 0.4fr 1.5fr 0.3fr;
    grid-gap: 10px;
    margin: 10px;
}

.Header h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Poor Story', system-ui;
}

.Search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Search input{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
    font-family: 'Poor Story', system-ui;
    background-color: rgba(206, 205, 205, 0.719);
}
.Search Select, Button{
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
    font-family: 'Poor Story', system-ui;
    margin-left: 10px;
    background-color: rgba(206, 205, 205, 0.719);
}
.Search Button{
    width: 70px;
    height: 50px;
    margin-left: 10px;
}
.Search Button:hover, .Search Select:hover, .Search input:hover, .Page Button:hover{
    background-color: rgba(206, 205, 205, 0.911);
}



.Pictures{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 10px;
    max-width: 70%;
    margin-left: 17%;
}

.pictures img {
    /*stylea bilderna osv*/
}

.Page{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageDiv {
    
}