body{
    background-image: url(https://cdn.pixabay.com/photo/2024/01/13/00/46/raccoon-8504925_1280.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #E2D8C4;
}
.BigGrid{
    display: grid;
    grid-template-rows: 0.3fr 0.2fr 1.5fr;
    grid-gap: 10px;
    margin: 10px;
}

.Header h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Poor Story', system-ui;
}

.Search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Search input{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
    font-family: 'Poor Story', system-ui;
    background-color: rgba(206, 205, 205, 0.719);
}
.Search Select, Button, #searchButton{
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
    font-family: 'Poor Story', system-ui;
    margin-left: 10px;
    background-color: rgba(206, 205, 205, 0.719);
}


.Search Button:hover, .Search Select:hover, .Search input:hover, .Page Button:hover, #searchButton:hover{
    background-color: rgba(206, 205, 205, 0.911);
}

p{
    font-size: 20px;
    font-family: 'Poor Story', system-ui;
    text-align: center;
}


.Pictures{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
img {
    width: 225px;
    height: 190px;
    margin: 10px;
    max-width: 70%;
}
.PicDiv img{
    display: grid;
    justify-content: center;
    align-items: center;
}


.Page{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    width: 100%;
    align-items: center;
}