body{
    background-image: url(https://cdn.pixabay.com/photo/2024/01/13/00/46/raccoon-8504925_1280.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #E2D8C4;
}
.BigGrid{
    display: grid;
    grid-template-rows: 0.3fr 0.2fr 1.5fr;
    grid-gap: 10px;
    margin: 10px;
}

.Header h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Poor Story', system-ui;
}

.Search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Search input{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 20px;
    font-family: 'Poor Story', system-ui;
    background-color: rgba(206, 205, 205, 0.719);
}
.Search Select, Button, #searchButton{
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
    font-family: 'Poor Story', system-ui;
    margin-left: 10px;
    background-color: rgba(206, 205, 205, 0.719);
}


.Search Button:hover, .Search Select:hover, .Search input:hover, .Page Button:hover, #searchButton:hover{
    background-color: rgba(206, 205, 205, 0.911);
}

p{
    font-size: 20px;
    font-family: 'Poor Story', system-ui;
    text-align: center;
}


.Pictures{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
img {
    width: 225px;
    height: 190px;
    margin-top: 1em;
    max-width: 70%;
    border-radius: 10px;
}

.picDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.picDiv p {
    margin:0px;
}

.picDiv img:hover{
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.Page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media  screen and (max-width: 1200px){
    .Pictures{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    body{
        background-size: 100%;
    }
}
@media  screen and (max-width: 940px){
    .Pictures{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media  screen and (max-width: 850px){
    .Pictures{
        
        grid-template-columns: 1fr 1fr;
    }
    .Search input{
        width: 350px;
    }
}
@media  screen and (max-width: 670px){
    .Search input{
        width: 30%;
    }
}
@media  screen and (max-width: 440px){
    form {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        
    }
    .Search input{
        width: 15em;
        margin-bottom:10px;
    }

    .Pictures {
        grid-template-columns: 1fr;
    }

    .Search Select, #searchButton{
        margin-left: 30%;
    }

    .Page {
        max-height: 10em;
    }
    
    .BigGrid {
        grid-template-rows: 0.1fr 0.1fr 0.5fr;
    }
}